<ion-header>
  <ion-toolbar>
    <ion-title>
      Ion Toolbar Demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-toolbar mode="ios">
    <ion-title>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at tortor lobortis, molestie enim nec, ultrices tortor</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
  <ion-toolbar mode="md">
    <ion-title>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at tortor lobortis, molestie enim nec, ultrices tortor</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-content>
